main{
	margin:0 auto; /* permet de centrer la page*/
	width: 55%;

}
header{
    text-align:center;
}


nav
{
	width : 150px ;
	border : 1px solid blue ;
    display: inline-block;
    vertical-align: top;
}
section
{
	border : 1px solid blue ;
	width:55%;
    display: inline-block;
    text-align:center;
    margin-left: 100px;
    vertical-align: top;


}
footer{
    text-align:center;
}



